<%- include ('./../partials/loginHeader') %>
<div class="main_app">

  <div class="login_image">
    <img src="/images/CAH_Logo.png">
  </div>

  <div class="login_header">
    <h3>Schedule Manager Login</h3>
  </div>

  <div class="login_box">
    <form method="POST">

      <label for = "field_username">Username</label>
      <input type="text" name="username" id = "field_username" class = "text_field">

      <label for = "field_password">Password</label>
      <input type="password" name="password" id = "field_password" class = "text_field">

      <input type="submit" name="login" value="Log in" class = "button_submit">
    </form>
  </div>

  <div class="failure_text">
    <% if (session.status == "fail"){ %>
      <br>
      <h6>Username or password is wrong </h6>
    <% } %>
  </div>

</div>

<%- include ('./../partials/footer') %>
